.section {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 14px;
  &--background {
    background-color: var(--light-color);
  }
}

.section__heading {
  font-family: var(--primary-font);
  @include text-style(normal, 700, 48px, 60px, 0);
}
