<section>
  <div class="container">
    <h2 class="section-title">Наші пререваги</h2>
    <ul>
      <li>
        <img src="" alt="" />
        <h3>Меблі преміум класу</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          repellendus nemo ab cum sint provident facilis inventore officiis
          excepturi.
        </p>
      </li>
      <li>
        <img src="" alt="" />
        <h3>Надійність</h3>
        <p>
          За 14 років на ринку меблів для дому ми стали надійними партнерами на
          ринку Вінницької області та України
        </p>
      </li>
      <li>
        <img src="" alt="" />
        <h3>Безкоштовна доставка</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
          repellendus nemo ab cum sint provident facilis inventore officiis
          excepturi.
        </p>
      </li>
    </ul>
  </div>
</section>
