<section class="section">
  <div class="container">
    <h2 class="section-title"></h2>
    <ul class="categories__goods--list list">
      <li class="categories__goods--item">Дивани</li>
      <li class="categories__goods--item">Ліжка</li>
      <li class="categories__goods--item">Крісла</li>
      <li class="categories__goods--item">Комоди</li>
      <li class="categories__goods--item">Шафи</li>
      <li class="categories__goods--item">Кухня</li>
    </ul>
    <ul class="categories__bads--list list">
      <li class="categories__bads--item">
        <img class="categories__bads--img" src="" alt="" />
        <p class="categories__bads--label">Новинка</p>
        <div class="categories__bads--wrapper">
          <p class="categories__bads--name">Ліжко Рамона</p>
          <p class="categories__bads--price">8 999 грн</p>
        </div>
      </li>
      <li class="categories__bads--item">
        <img class="categories__bads--img" src="" alt="" />
        <p class="categories__bads--label">Хіт продаж</p>
        <p class="categories__bads--label action">Акція</p>
        <div class="categories__bads--wrapper">
          <p class="categories__bads--name">Ліжко Честер</p>
          <p class="categories__bads--price">
            8 999 грн <span>8 999 грн</span>
          </p>
        </div>
      </li>
      <li class="categories__bads--item">
        <img class="categories__bads--img" src="" alt="" />
        <!-- <p class="categories__bads--label"></p> -->
        <div class="categories__bads--wrapper">
          <p class="categories__bads--name">Ліжко Венеція люкс</p>
          <p class="categories__bads--price">8 999 грн</p>
        </div>
      </li>
      <li class="categories__bads--item">
        <img class="categories__bads--img" src="" alt="" />
        <p class="categories__bads--label">Новинка</p>
        <div class="categories__bads--wrapper">
          <p class="categories__bads--name">Ліжко Імперія</p>
          <p class="categories__bads--price">8 999 грн</p>
        </div>
      </li>
      <li class="categories__bads--item">
        <img class="categories__bads--img" src="" alt="" />
        <p class="categories__bads--label"></p>
        <div class="categories__bads--wrapper">
          <p class="categories__bads--name">Ліжко Адель</p>
          <p class="categories__bads--price">8 999 грн</p>
        </div>
      </li>
      <li class="categories__bads--item">
        <img class="categories__bads--img" src="" alt="" />
        <p class="categories__bads--label">Хіт продаж</p>
        <p class="categories__bads--label action">Акція</p>
        <div class="categories__bads--wrapper">
          <p class="categories__bads--name">Ліжко Атлант</p>
          <p class="categories__bads--price">
            8 999 грн <span>8 999 грн</span>
          </p>
        </div>
      </li>
    </ul>
    <button type="button">В каталог</button>
  </div>
</section>
