<div class="header">
  <div class="header__container container">
    <div class="header-socials">
      <p>Ми в соціальних мережах:</p>
      <ul class="header-socials__list list">
        <li class="header-socials__item">
          <a href="#" class="header-socials__link link">
            <!-- <svg width="40" height="40">
            <use href="../images/telegram.svg"></use>
          </svg> -->
          </a>
        </li>
        <li class="header-socials__item">
          <a href="#" class="header-socials__link">
            <!-- <svg width="40" height="40">
            <use href="../images/facebook.svg"></use>
          </svg> -->
          </a>
        </li>
        <li class="header-socials__item">
          <a href="#" class="header-socials__link">
            <!-- <svg width="40" height="40">
            <use href="../images/instagram.svg"></use>
          </svg> -->
          </a>
        </li>
      </ul>
      <p>
        <svg class="" width="24" height="24">
          <use href=""></use></svg
        >(099) 111 22 33
        <svg class="" width="24" height="24">
          <use href=""></use>
        </svg>
      </p>
    </div>
    <ul class="header-menu__list list">
      <li class="header-menu__item header-menu__item--active">Головна</li>
      <li class="header-menu__item">Акції</li>
      <li class="header-menu__item">Доставка та оплата</li>
      <li class="header-menu__item">Про нас</li>
      <li class="header-menu__item">Контакти</li>
    </ul>
  </div>
</div>
