<div class="header-lower">
  <ul class="header-goods__list list">
    <li class="header-goods__item">Дивани</li>
    <li class="header-goods__item">Ліжка</li>
    <li class="header-goods__item">Крісла</li>
    <li class="header-goods__item">Комоди</li>
    <li class="header-goods__item">Шафи</li>
    <li class="header-goods__item">Кухня</li>
  </ul>
  <div class="header__logo"><p>Furniture.test</p></div>
  <div class="header__right-part">
    <button type="button">Кошик</button>
    <button type="button">Замовити дзвінок</button>
  </div>
</div>
