<section class="section">
  <div class="container">
    <img src="" alt="" />
    <div class="slider__promo">
      <div class="slider__promo--line"></div>
      <h2 class="slider__promo--title">Новинка!</h2>
      <h3 class="slider__promo--good">Ліжко Ornella</h3>
      <p class="slider__promo--text">Це новий рівень комфортного сну</p>
      <button class="slider__promo--button">Детальніше</button>
      <p><span>01</span>/04</p>
      <svg>
        <use href=""></use>
      </svg>
    </div>
  </div>
</section>
